
.whole{
    width:100%;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    align-items: center;
	color: white;
	text-shadow: 0.5px 0.5px;
}

.item{
	background: rgba(0, 0, 0, 0.5);
}

#heading{
    font-family: serif;
    font-size: xx-large;
    padding-inline-start: 20px;
	color: white;
	text-shadow: 1px 1px;
	background: rgba(0, 0, 0, 0.5);
	text-decoration: underline;
}
